variables:
- name: app_default_directory
  value: sela_week7 
- name: ansible_directory
  value: ansible 
- name: init_host_ip
  value: 10.0.0.4
- name: init_db
  value: no
parameters:
- name: hosts
  type: object
  default:
  - 10.0.0.4
  - 10.0.0.5
  - 10.0.0.7

resources:
  repositories:
  - repository: AnsibleRepo # The name used to reference this repository in the checkout step
    type: github
    endpoint: ItaiGafny
    name: ItaiGafny/Sela-Week7-Ansible

trigger:
- master

stages:
 - stage: Build
   jobs:
    - job: Build
      displayName: Build
      pool:
      #removed, cannot run the packages needed: npm WARN deprecated @hapi/teamwork@4.0.0: This version has been deprecated and is no longer supported or maintained
      #vmImage: ubuntu-latest
      #Better to run on linux server. Ansible cannot be it becuase agent must be live and I use it, unless 2 connections???
        name: 'my-pool'
        #name: 'AnsibleStaging'

      steps:
      - template: build.yml
      
      
 - stage: Deploy_to_Staging
   jobs:
    - job: Deploy
      displayName: Deploy
    - deployment: VMDeploy
      displayName: web
      variables:
      - name: LB_IP
        value: 20.119.109.101 
      - name: OKTA_ORG_URL
        value: dev-90664005.okta.com 

      environment:
        name:  'Staging'
        resourceType: VirtualMachine
        tags: 'staging'
      strategy:
      # default deployment strategy
        runOnce:
          deploy:
            steps:
            - template: deploy.yml


 - stage: Deploy_to_Production
   jobs:
    - job: Deploy
      displayName: Deploy
    - deployment: VMDeploy
      displayName: web
      variables:
      - name: LB_IP
        value: 20.221.96.242 
      - name: OKTA_ORG_URL
        value: dev-90664005.okta.com 

      environment:
        name:  'Production' #ApprovalRequired
        resourceType: VirtualMachine
        tags: 'Production'
      strategy:
      # default deployment strategy
        runOnce:
          deploy:
            steps:
            - template: deploy.yml
